<div id="app" class="container">
    <b-alert show variant="success">
        <h4 class="alert-heading">{{heading}}</h4>
        <p>
            {{introduction}}
        </p>
        <hr>
        <p class="mb-0">
            {{conclusion}}
        </p>
    </b-alert>
</div>